<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="my_main.css">
   <link rel="stylesheet" href="boxing/css/font-awesome.min.css/css/font-awesome.min.css">
   <meta name=“viewport” content=“width=device-width, initial-scale=1.0”>
</head>

<body>
  <div class="nav">
    <div class="container">
      <h1>POMONA</h1>
      <p align="right">Life & Savannah & Charile</p>
      <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      <ul>
        <button type="button" class="btn btn-link" id="mybtn"><li>home</li></button>
        <li>News</li>
        <li>U.S.</li>
        <li>Sport</li>
        <li>TV&Showbiz</li>
        <li>Australia</li>
        <li>Femail</li>
        <li>Health</li>
        <li>Science</li>
        <li>Money</li>
      </ul> 

      <div class="jumbotron">
        <div class="container">
          <img src="http://goo.gl/0Rpw6G">
          <p>Kelly Mittendorf in ELIE SAAB Ready-to-Wear Spring Summer 2015 shot by Liu Zongyuan & Styled by Lisa Jarvis for the March issue of Marie Claire Hong Kong.</p>
          <img src="http://goo.gl/JVk1Jc">
          <p>Flying the flag for Aussie undies! Miranda Kerr flaunts her fabulous figure in Bonds as the iconic brand celebrates its 100th birthday.</p>
          <img src="http://goo.gl/zgFxyk">
          <p>Cressida Bonas is the ultimate English rose as she showcases her dance moves modelling Mulberry's new range.</p>
          <img src="http://goo.gl/VeeEba">
          <p>Cressida Bonas, who found fame as Prince Harry's girlfriend, has been unveiled as Mulberry's new ambassador and showcases the luxury fashion house's designs and accessories in a new shoot.</p>
          <img src="http://goo.gl/rZmh7c">
          <p>'Frozen Fever was certainly part of why we're seeing the kind of success that we did this weekend,' Hollis said. 'In and of itself, Cinderella is absolutely a great stand-alone experience. But it ends up being a one-plus-one-equals-three thing for the consumer.'
            Disney could also celebrate 'Big Hero 6' becoming the top-grossing worldwide animated release of 2014; the Oscar-winner has made $633 million globally.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://goo.gl/KyxcDn">
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://goo.gl/6uLqmh">
            </div>   
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://goo.gl/QjrbBK">
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModal">Introduce</h4>
      </div>
      <div class="modal-body">
        <p>introduce</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="#myCarousel" class="carousel slide"  data-ride="carousel" data-interval="3000"> 
  <ol class="carousel-indicators">
    <li data-interval="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-interval="#myCarousel" data-slide-to="1" class></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <img src="https://goo.gl/OlvFPM" alt="apple">
    <div class="carousel-caption">
     <h7>sport day</h7>
     <p>EZTABLEr</p>
    </div>
    </div>
    <div class="item">
    <img src="https://goo.gl/j1XTv4" alt="apple">
      <div class="carousel-caption">
      <h7>Napel</h7>
      <p>voluteer</p>
      </div>
      </div>
  
  </div>   
</div>  
  
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
  </body>
  </html>
