.nav {
    background-image: url('nike_voices_girl_boxing.jpg');   
    background-size: cover;

}

.nav h1 {
	font-size: 48px;
	font-family: serif;
	color: white;
	margin-left: 500px;
	font-weight: bold;
}


.menu li{
	display: block;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	color: white;
	top: 400px;
}

.menu button{
	display: block;
}

.social i {
	display: block;
	color: white;
	font-size: 3em;
	text-align: right;
	margin-right: 50px;
	top:0px;

}

.learn-more {
  background-color:#696969;
  height: 20px;
}

.learn-more h3 {
  font-family: serif;
  font-weight: lighter;
  font-size: 18px;
  display: inline;
  color: white;
  top: 30px;
}


.thumbnail img{
	width:250px;
    left:0px;
    margin-right:0px;
    height: 150px;
    text-align: center;

}
.modal-body img{
	width:140px;
	height: 140px;
}

.modal-header h5 {
	font-size: 16px;
}

.row img{
	max-width: 120px;
	max-height: 120px;
}
